<% @mapping_data_obats.each do |mapping_data_obat| %>
  <tr>
    <td><%= mapping_data_obat.kode_rs %></td>
    <td><%= mapping_data_obat.kode_ejkbm %></td>
    <td><%= link_to 'Ubah/Hapus', edit_mapping_data_obat_path(mapping_data_obat) %></td>
  </tr>
<% end %>

<tr style="background-color: transparent">
    <td colspan="100">
      <div class="digg_pagination">
        <div class="page_info">
          <%= raw page_entries_info @mapping_data_obats %>
        </div>
        <%= will_paginate @mapping_data_obats, :class => 'pagination ajax' %>
      </div>
    </td>
  </tr>
  <script type="text/javascript">
    ajaxifyPagination();
  </script>