<%= form_for(@mapping_data_obat) do |f| %>
  <% if @mapping_data_obat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping_data_obat.errors.count, "error") %> prohibited this mapping_data_obat from being saved:</h2>

      <ul>
      <% @mapping_data_obat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode_rs, :class => "required" %><br />
    <%= f.text_field :kode_rs, :class => "required" %>
  </div>
  <div class="field">
    <%#= f.label :kode_ejkbm, :class => "required" %>
    <%#= f.text_field :kode_ejkbm, :class => "required" %>
    <%= f.label :kode_ejkbm, :class => "required" %><br />
    <%= f.collection_select :kode_ejkbm, Obat.order("kode") ,:kode, :nama_obat, {:prompt => true}, :class => "required combo_box" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
