<p id="notice"><%= notice %></p>

<p>
  <b>Kode pelayanan lain rs:</b>
  <%= @mapping_pelayanan_lain.kode_pelayanan_lain_rs %>
</p>

<p>
  <b>Kode pelayanan lain ejkbm:</b>
  <%= @mapping_pelayanan_lain.kode_pelayanan_lain_ejkbm %>
</p>

<p>
  <b>Iduser:</b>
  <%= @mapping_pelayanan_lain.iduser %>
</p>


<%= link_to 'Edit', edit_mapping_pelayanan_lain_path(@mapping_pelayanan_lain) %> |
<%= link_to 'Back', mapping_pelayanan_lains_path %>
