<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @ru_pusk.kode %>
</p>

<p>
  <b>Nama:</b>
  <%= @ru_pusk.nama %>
</p>

<p>
  <b>Default:</b>
  <%= @ru_pusk.default %>
</p>


<%= link_to 'Edit', edit_ru_pusk_path(@ru_pusk) %> |
<%= link_to 'Back', ru_pusks_path %>
